@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap");

:root {
  --primarybg: #302c30;
  --textColor: #65d18e;
  --secodaryColor: #f2cf30;
}

body {
  font-family: "Work Sans", sans-serif;
  max-width: 100vw;
  color: var(--textColor);
  background-color: var(--primarybg);
}

header {
  text-align: center;

  color: var(--secodaryColor);
  margin: 1% 5%;
  padding: 1%;
  border-radius: 1rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.hero-title {
  font-size: 3rem;
}

input {
  width: 30vw;
  height: 2.5rem;
  text-indent: 1rem;
  font-size: 1rem;
}

button {
  padding: 0.9rem 1.5rem;
  font-size: 1rem;
  margin: 1rem 1rem 0 0;
  font-weight: 600;
  border-radius: 0.1rem;
  cursor: pointer;
  background-color: var(--secodaryColor);
}

footer {
  color: var(--textColor);
  text-align: center;
  margin: 1% 5% 0;
  padding: 0.1%;
  border-radius: 0.5rem;

  font-size: 1rem;
}

a {
  color: var(--secodaryColor);
  text-decoration: none;
}
